#best{
    color: rgb(87, 255, 255);
    font-size: 30px;
    position: relative;
    left: 200px;
    top: 180px;
}
#online{
    font-size: 65px;
    position: relative;
    left: 200px;
    top: 150px;
    color: whitesmoke;
   font-family:Georgia, 'Times New Roman', Times, serif;
}
#di1{
    display: block;
}
i:hover{
    color: white;
}
#di2{
    font-size: 20px;
    color: white;
    position: relative;
    top: 120px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 200px;
}
#di3{
    color: white;
    border: 1px solid black;
    padding: 16px;
    position: relative;
    left: 210px;
    top: 160px;
     font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color:  rgb(0, 190, 220);
}
#di4{
    color: rgb(0, 190, 220);
    border: 1px solid black;
    padding: 16px;
    position: relative;
    left: 350px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    top: 141px;
    background-color:  white;
}